body {
    background-color: #f8f7fd;
  }
  
  .table {
    background-color: #f8f7fd;
    /*border: 1px solid #ccc;*/
  }
  
  .logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  h5 {
    margin-top: 10px;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
    margin: 0;
  }
  